/nbproject/private/
.idea
application/logs/
/error_log
/nbproject/project.properties
/assets/2495057219
/assets/3493964827
/assets/3809308176
/assets/892287369
/.DS_Store
/application/config/.DS_Store
/system/.DS_Store
